PORT=5000
MONGODB_URI=mongodb+srv://yuvaraj:yuvaraj123@cluster0.1bhjebx.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecuresecret
CLIENT_ORIGIN=http://localhost:5173
REDIS_URL=redis://localhost:6379
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET=
BCRYPT_SALT_ROUNDS=10
